<div class="jumbotron text-center">

  <div class="jumbotron text-center">
    <h3>Register</h3>

    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
      {{input type="email" value=userEmail class="form-control" placeholder="Enter your e-mail" autofocus="autofocus"}}
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
      {{input type="password" value=userPassword class="form-control" placeholder="Enter Password (at least 8 characters)"}}
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
      {{input type="password" value=confirmedPassword class="form-control" placeholder="Confirmed Password (at least 8 characters)"}}
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
      <button disabled= {{isDisabled}} {{action 'register'}} class="btn btn-primary login-button btn-block">OK</button>
    </div>
  </div>
</div>
